'.source.nut':
  # class snippets
  'class':
    'prefix': 'class'
    'body': 'class ${0:className}  {\n\t\n}'
  'inherited class':
    'prefix': 'iclass'
    'body': 'class ${0:className} extends ${1:inheritedClass} {\n\t\n}'
  'function':
    'prefix': 'func'
    'body': 'function ${1:functionName} (${2:arg}) {\n\t${0:# body}\n}'

  # local variable snippets
  'local variable':
    'prefix': 'local'
    'body': 'local ${1:x} = ${0:1};'
  'local function':
    'prefix': 'lfunc'
    'body': 'local ${1:functionName} = function(${2:arg}) {\n\t${0:# body}\n};'
  'local class':
    'prefix': 'lclass'
    'body': 'local ${1:className} = class {\n\t${0:# body}\n};'

  # loop snippets
  'while':
    'prefix': 'while'
    'body': 'while (${1:condition}) {\n\t${0:# body}\n}'
  'for':
    'prefix': 'for'
    'body': 'for (local ${1:i} = ${2:0}; i < ${3:10}; i++) {\n\t${0:# body}\n}'
  'foreach':
    'prefix': 'fore'
    'body': 'foreach (${1:idx}, ${2:val} in ${3:container}) {\n\t${0:# body}\n}'

  # control flow snippets
  'if conditional':
    'prefix': 'if'
    'body': 'if (${1:cond}) {\n\t${0:# body}\n}'
  'if else conditional':
    'prefix': 'ife'
    'body': 'if (${1:cond}) {\n\t${0:# body}\n} else {\n\t${1:# body}\n}'
  'else':
    'prefix': 'els'
    'body': 'else {\n\t${0:# body}\n}'
  'else if conditional':
    'prefix': 'elif'
    'body': 'else if (${1:cond}) {\n\t${0:# body}\n}'
  'switch block'
    'prefix': 'switch'
    'body': 'switch (${0:cond}) {\ndefault: break;\n}'
